# Ignore build output
bin/
obj/
**/bin/
**/obj/
*.suo
*.user
*.cache
*.pdb
*.log
*.tmp
*.vs/
.vscode/
Debug/
Release/

# Ignore user-specific settings
*.csproj.user
*.csproj.DotSettings
*.vspscc
*.vssscc


